<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Accounting">
	<!-- 회계지원 매퍼 -->
	<select id="selectAll" resultType="com.clovers.dto.AccountingDTO">
		select * from emp_account
	</select>
</mapper>