<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddressBook">
	<!-- 주소록 매퍼 -->
	
	<!-- 주소 목록 resultMap -->
	<resultMap id="addressBookAll" type="java.util.HashMap">
	    <result property="id" column="id" />
	    <result property="name" column="name" />
	    <result property="is_share" column="is_share" />
	    <result property="emp_id" column="emp_id" />
	    <result property="email" column="email" />
	    <result property="numberType" column="numberType" />
	    <result property="number" column="number" />
	    <result property="company_name" column="company_name" />
	    <result property="dept_name" column="dept_name" />
	    <result property="job_name" column="job_name" />
	    <result property="addressType" column="addressType" />
	    <result property="address" column="address" />
	    <result property="birthType" column="birthType" />
	    <result property="birth" column="birth" />
	    <result property="memo" column="memo" />
	    <result property="trash" column="trash" />
        <result property="tag_ids" column="tag_ids" />
        <result property="tag_names" column="tag_names" />
        <result property="existFavorite" column="existFavorite"/>
	</resultMap>
	
	<!-- 주소 관련 -->
	<delete id="delete">
		delete from address_book where id
		<if test="ids == null">
			= #{id};
		</if>
		
		<if test="ids != null">
			in (
			<foreach collection="ids" item="id" separator=",">
				#{id}
			</foreach>
			);
		</if>
	</delete>
	
	<select id="select" resultMap="addressBookAll">
		 SELECT
		    id,
		    name,
		    is_share,
		    emp_id,
		    email,
		    numberType,
		    number,
		    company_name,
		    dept_name,
		    job_name,
		    addressType,
		    address,
		    birthType,
		    birth,
		    memo,
		    existFavorite,
		    GROUP_CONCAT(tag_id ORDER BY tag_id) AS tag_ids,
		    GROUP_CONCAT(tag_name ORDER BY tag_id) AS tag_names
		FROM address_book_all_including_tags
		
		WHERE
		<if test="key.equals('is_share')">
			<if test="value == -1">
				is_share = 1 and trash = 0
			</if>
			<if test="value == 0">
				emp_id = #{emp_id} and is_share = #{value} and trash = 0
			</if>
			<if test="value == -2">
				existFavorite is not null and trash = 0
			</if>
			<if test="value == -3">
				trash = 1
			</if>
		</if>
		<if test="key.equals('id')">
			id in (select address_book_id from address_book_tag_list where address_book_tag_id = #{value} and trash = 0)
		</if>
		
		<if test="keyword != null">
			and (name like #{keyword} or company_name like #{keyword} or number like #{keyword})
		</if>
		
		GROUP BY id; 
	</select>
	
	<select id="selectById" resultMap="addressBookAll">
		select * from address_book_select_including_tags where id= #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into address_book( id, name, emp_id, is_share, trash		
			<if test="email != null">
				,email
			</if>
			<if test="number != null">
				,numberType, number
			</if>
			<if test="company_name != null">
				,company_name
			</if>
			<if test="dept_name != null">
				,dept_name
			</if>
			<if test="job_name != null">
				,job_name
			</if>
			<if test="address != null">
				,addressType, address
			</if>
			<if test="birth != null">
				,birthType, birth
			</if>
			<if test="memo != null">
				,memo
			</if>
		)
		values( null, #{name}, #{emp_id}, #{is_share}, default
			<if test="email != null">
				,#{email}
			</if>
			<if test="number != null">
				,#{numberType}, #{number}
			</if>
			<if test="company_name != null">
				,#{company_name}
			</if>
			<if test="dept_name != null">
				,#{dept_name}
			</if>
			<if test="job_name != null">
				,#{job_name}
			</if>
			<if test="address != null">
				,#{addressType}, #{address}
			</if>
			<if test="birth != null">
				,#{birthType}, #{birth}
			</if>
			<if test="memo != null">
				,#{memo}
			</if>
		);
	</insert>
	
	<insert id="copyAddress">
		insert into address_book
		
		select null, name, #{is_share}, emp_id, email, numberType, number, company_name, dept_name, job_name, addressType, address, birthType, birth, memo, trash, trash_date
		from address_book
		where id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		
	</insert>
	
	<update id="update">
		update 
			address_book 
		set
			name = #{name, jdbcType=VARCHAR},
			email = #{email, jdbcType=VARCHAR},
			numberType = #{numberType, jdbcType=VARCHAR},
			number = #{number, jdbcType=VARCHAR},
			company_name = #{company_name, jdbcType=VARCHAR},
			dept_name = #{dept_name, jdbcType=VARCHAR},
			job_name = #{job_name, jdbcType=VARCHAR},
			addressType = #{addressType, jdbcType=VARCHAR},
			address = #{address, jdbcType=VARCHAR},
			birthType = #{birthType, jdbcType=VARCHAR},
			birth = #{birth, jdbcType=VARCHAR},
			memo = #{memo, jdbcType=VARCHAR}
		where
			id = #{id};
	</update>
	
	<update id="trash">
		update address_book set trash = #{trash}, trash_date =
		<if test="trash == 0">
			null 
		</if>
		<if test="trash == 1">
			now()
		</if>
		
		where id
		<if test="ids == null">
			= #{id};
		</if>
		
		<if test="ids != null">
			in (
			<foreach collection="ids" item="id" separator=",">
				#{id}
			</foreach>
			);
		</if>
	</update>
	

	
	<!-- 태그 관련 -->
	<insert id="tagInsert" useGeneratedKeys="true" keyProperty="id">
		insert into address_book_tag values(null, #{name}, #{emp_id}, #{is_share});
	</insert>
	
	<delete id="tagDelete">
		delete from address_book_tag where id=#{id};
	</delete>
	
	<select id="tagSelectByIsShare" resultType="com.clovers.dto.AddressBookTagDTO">
		select * from address_book_tag where 
		<if test="is_share == 1">
			is_share = #{is_share};
		</if>
		<if test="is_share == 0">
			emp_id = #{emp_id} and is_share =#{is_share};
		</if>
	</select>
	
	<select id="tagSelect" resultType="com.clovers.dto.AddressBookTagDTO">
		select * from address_book_tag where emp_id = #{emp_id} or is_share = 1;
	</select>
	
	<select id="existTag" resultType="java.lang.Integer">
		select count(*) from address_book_tag where id = #{id};
	</select>	
	
	
	<!-- 태그 목록 관련 -->
	<insert id="tagListInsert" parameterType="java.util.List">
		insert into address_book_tag_list values
		<foreach collection="selectedTagArray" item="selectedTag" separator=",">
			(null, #{selectedTag}, #{address_book_id})
		</foreach>
	</insert>
	
	<delete id="tagListDelete">
		delete from address_book_tag_list where address_book_id = #{id};
	</delete>
	
	<!-- 즐겨 찾기 관련 -->	
	<insert id="favoriteInsert">
		insert into address_favorite values(#{address_book_id}, #{emp_id});
	</insert>
	
	<delete id="favoriteDelete">
		delete from address_favorite where address_book_id = #{address_book_id} and emp_id = #{emp_id};
	</delete>
	
	<select id="isFavorite" resultType="java.lang.Integer">
		select count(*) from address_favorite where address_book_id = #{address_book_id} and emp_id = #{emp_id};
	</select>

	
</mapper>