<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatRoom">

	<insert id="createChatRoom">
		insert into chat_room values(#{id},#{state} )
	</insert>
	
	<select id="selectStateByChatRoomId" resultType="String">
		SELECT state FROM chat_room WHERE id = #{id}
	</select>
	
	<update id="updateChatRoomState">
		update chat_room set state = #{state} where id = #{id}
	</update>
	
	<delete id="deleteChatRoom">
		delete from chat_room where id = ${id}
	</delete>
	
</mapper>