<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatGroup">
	<resultMap id="chatRoomListInfo" type="HashMap">
		<id column="chat_room_id" property="chat_room_id" />
		<result column="emp_id" property="emp_id" />
		<result column="name" property="name" />
		<result column="write_date" property="write_date" />
		<result column="content" property="content" />
		<result column="emp_cnt" property="emp_cnt" />
	</resultMap>

	<resultMap id="companyHierarchyMap" type="HashMap">
		<result column="employee_id" property="employee_id" />
		<result column="employee_name" property="employee_name" />
		<result column="employee_email" property="employee_email" />
		<result column="employee_phone" property="employee_phone" />
		<result column="employee_company_phone"
			property="employee_company_phone" />
		<result column="hire_date" property="hire_date" />
		<result column="profile_img" property="profile_img" />
		<result column="company_email" property="company_email" />
		<result column="company_phone" property="company_phone" />
		<result column="job_id" property="job_id" />
		<result column="job_name" property="job_name" />
		<result column="task_id" property="task_id" />
		<result column="task_name" property="task_name" />
		<result column="department_id" property="department_id" />
		<result column="dept_name" property="dept_name" />
		<result column="office_id" property="office_id" />
		<result column="office_name" property="office_name" />
		<result column="office_email" property="office_email" />
	</resultMap>


	<insert id="inviteChatGroup">
		insert into chat_group (emp_id,chat_room_id,
		msg_start_id, msg_end_id, name) value (#{emp_id},#{chat_room_id},
		#{msg_start_id}, #{msg_end_id}, #{name})
	</insert>

	<select id="selectByEmpId" resultMap="chatRoomListInfo">
		SELECT cri.*
		FROM
		chat_room_list_info cri
		JOIN (
		SELECT chat_room_id, MAX(write_date) AS
		latest_date
		FROM chat_room_list_info
		GROUP BY chat_room_id
		) AS
		latest_messages ON cri.chat_room_id = latest_messages.chat_room_id
		AND
		cri.write_date = latest_messages.latest_date
		WHERE cri.emp_id=#{emp_id}
		ORDER BY cri.write_date DESC;
	</select>



	<select id="selectByEmpIdNChatRoomID"
		resultMap="chatRoomListInfo">
		select * from chat_room_list_info
		where emp_id=#{emp_id} AND
		chat_room_id=#{chat_room_id}
		order by write_date desc LIMIT 1;
	</select>



	<select id="getAllOfficerInfo" resultMap="companyHierarchyMap">
		select * from
		company_hierarchy_view order by department_id, task_id, job_id
	</select>

	<select id="getOfficerInfoByEmployeeId"
		resultMap="companyHierarchyMap">
		select * from company_hierarchy_view where employee_id =
		#{employee_id}
	</select>

	<!-- 1:1 채팅 시작 시 이미 둘이 존재하는 채팅방이 존재 하는 경우 -->
	<select id="getExist1v1ChatRoom" resultType="String">
		SELECT
		cg.chat_room_id
		FROM chat_group cg
		JOIN chat_room cr ON cg.chat_room_id = cr.id
		WHERE cg.emp_id IN (#{employee_id}, #{session_id})
		AND cr.state = 'ACTIVEPERSONAL'
		GROUP BY cg.chat_room_id
		HAVING COUNT(*) = 2;

	</select>

	<select id="selectChatGroupListByEmpId"
		resultType="com.clovers.dto.ChatGroupDTO">
		select * from chat_group where emp_id = #{emp_id}
	</select>

	<update id="updateMsgEndId">
		update chat_group set msg_end_id = #{msg_end_id}
		where emp_id = #{emp_id} and chat_room_id = #{chat_room_id}
	</update>

	<update id="updateChatGroupName">
		update chat_group set name = #{name} where emp_id =
		#{emp_id} and chat_room_id = #{chat_room_id}
	</update>

	<delete id="deleteByEmpIdNChatId">
		delete from chat_group where emp_id = #{emp_id} and
		chat_room_id = #{chat_room_id}
	</delete>

	<delete id="closeChatGroup">
		delete from chat_group
		where chat_room_id IN (
		select
		chat_room_id
		from (
		select chat_room_id, count(emp_id) as employee_count
		from chat_group
		group by chat_room_id
		) as grouped
		where employee_count =
		1
		);
	</delete>



</mapper>