<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatGroup">
	<resultMap id="chatRoomListInfo" type="HashMap">
		<id column="chat_room_id" property="chat_room_id"/>
		<result column="emp_id" property="emp_id"/>
		<result column="name" property="name"/>
		<result column="write_date" property="write_date"/>
		<result column="content" property="content"/>
		<result column="emp_cnt" property="emp_cnt"/>
	</resultMap>
	
	<select id="selectByEmpId" resultMap="chatRoomListInfo">
		select * from chat_room_list_info where emp_id=#{emp_id} order by write_date desc;
	</select>
	<select id="selectByChatRoomId" resultType="com.clovers.dto.ChatMessageDTO">
		select * from chat_message where chat_room_id = #{chat_room_id};
	</select>
	<select id="selectAboutChatRoom" resultType="com.clovers.dto.ChatRoomDTO">
		select * from chat where chat_room_id = #{chat_room_id};
	</select>
</mapper>