<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ElectronicSignature">
	<!-- 전자결재 매퍼 -->
	<!-- // 멤버의 전자 결재를 위한 전자선 정렬 -> job_id의 순서대로 정렬 -->
	<select id="selectEmpJobLevel" resultType="map">
		select *
		from emp_job_sec_level
		where id in
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- // 휴가 문서 번호 구하기 -->
	<select id="selectVcationDocmuentCount" resultType="int">
		select substring(id, char_length(id)-3) as last_four_digits
		from document
		where id like '%휴가%'
		order by cast(substring(id, -4) as unsigned) desc
		limit 1;
	</select>
	
	<!-- // 문서 생성 -->
	<insert id="insertDocument">
		insert into document (id, document_type_id, save_period, security_grade, report_date, title, content)
		values (#{id}, #{document_type_id}, #{save_period} ,#{security_grade},convert_tz(now(), '+00:00', '+09:00'), #{title}, #{content})
	</insert>
	
	<!-- // 문서 등록자 정보 생성 -->
	<insert id="insertDrafter">
		insert into document_drafter (document_id, emp_id)
		values (#{document_id}, #{emp_id})
	</insert>
	
	<!-- // 문서 결재선 등록 -->
	<insert id="insertApprovals">
		insert into document_approvals (document_id, emp_id, sec_level) values
		<foreach collection="list" item="approvals" separator=",">
			(#{approvals.document_id}, #{approvals.emp_id}, #{approvals.sec_level})
		</foreach>
	</insert>
	
	<!-- // 휴가 신청일 정보 등록 -->
	<insert id="insertVacationApplicationInfo" parameterType="java.util.List">
		insert into vacation_application_info (document_id, vacation_date, rest_reson_type, vacation_reason) values
		<foreach collection="list" item="vacationInfo" separator=",">
			(#{vacationInfo.document_id}, #{vacationInfo.vacation_date}, #{vacationInfo.rest_reson_type},#{vacationInfo.vacation_reason})
		</foreach>
	</insert>
	
	<!-- // 진행 중인 문서 전체 리스트 출력 -->
	<select id="progressTotalList" resultType="map">
		select document_id, title, drafter_name, report_date, status from document_list_info where (approver_id = #{loginID} or drafter_id = #{loginID}) and status = '대기'
	</select>
</mapper>