<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HumanResources">
	<!-- 인사 매퍼 -->

	<resultMap type="HashMap" id="employeeList">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="profile_img" property="profile_img" />
		<result column="job_name" property="job_name" />
		<result column="sec_level" property="sec_level" />
		<result column="task_name" property="task_name" />
		<result column="dept_name" property="dept_name" />
	</resultMap>

	<!-- <select id="selectByIdGetName" resultType="String"> -->
	<!-- select name from employee where id = #{id} -->
	<!-- </select> -->


	<select id="selectById" resultType="com.clovers.dto.MemberDTO">
		select * from mypageData
		where id = #{id};
	</select>

	<select id="getPw" resultType="String">
		select pw from employee where id =
		#{id};
	</select>

	<update id="update">
		update employee set
		profile_img=#{profile_img},company_email=#{company_email},
		company_phone=#{company_phone},phone=#{phone},email=#{email} where
		id=#{id}
	</update>

	<update id="updateNoImg">
		update employee set company_email=#{company_email},
		company_phone=#{company_phone},phone=#{phone},email=#{email} where
		id=#{id}
	</update>

	<!-- 사용자 근무 규칙 맵 -->
	<!-- <resultMap type="HashMap" id="userWorkRuleMap"> <result column="emp_id" 
		property="emp_id" /> <result column="daily_work_rule_id" property="daily_work_rule_id" 
		/> <result column="name" property="name" /> <result column="attend_time" 
		property="attend_time" /> <result column="leave_time" property="leave_time" 
		/> </resultMap> -->

	<!-- // 사용자 지각 정보 불러오기 -->
	<select id="selectLateInfo" resultType="Integer">
		select count(*) as
		late_count
		from attend_status
		where work_status_id = '지각' and
		emp_id=#{id}
		and month(attend_time) = month(now())
		and year(attend_time)
		= year(now());
	</select>

	<!-- //사용자 조기퇴근 정보 불러오기 -->
	<select id="selectEarlyLeaveInfo" resultType="Integer">
		select count(*)
		from leave_work_early
		where emp_id = #{id} and actual_leave_time is not
		null and
		time(actual_leave_time) &lt; leave_time;
	</select>

	<!-- //사용자 퇴근 미체크 정보 불러오기 -->
	<select id="selectNotCheckedLeaveInfo" resultType="Integer">
		select
		count(*) as
		no_leave_time_count
		from attend_status
		where leave_time is
		null and emp_id=#{id};
	</select>

	<!-- // 이번달 공휴일 정보 불러오기 -->
	<select id="selectHoliDays" resultType="map">
		select holiday_date
		from
		holidays
		where year(holiday_date) = year(curdate()) and
		month(holiday_date) = month(curdate());
	</select>

	<!-- // 이번달 근무일 정보 불러오기 -->
	<select id="selectWorkingDaysThisMonth" resultType="map">
		select * from
		attend_status where emp_id=#{id};
	</select>

	<!-- // 사용자 근무 규칙 정보 불러오기 -->
	<select id="selectEmployeeWorkRule" resultType="map">
		select * from
		employee_work_rule where emp_id = #{id};
	</select>

	<!-- 출근 전인지 확인 -->
	<select id="selectAttendStatus" resultType="map">
		select *
		from
		attend_status
		where date(work_date) = curdate() and emp_id=#{id};
	</select>

	<!-- 출근 기록 남기기 -->
	<insert id="insertAttendingWork">
		insert into attend_status (emp_id , attend_time,
		leave_time, work_status_id, work_date) values (#{emp_id},
		convert_tz(now(),'+00:00', '+09:00'), null, #{daily_work_rule_id},
		curdate());
	</insert>

	<!-- 퇴근 기록 남기기 -->
	<update id="updateLeavingWork">
		update attend_status set leave_time =
		convert_tz(now(),'+00:00', '+09:00') where date(work_date) = curdate()
		and emp_id=#{id};
	</update>

	<!-- 업무 상태 기록 남기기 -->
	<insert id="insertWorkCondition" useGeneratedKeys="true"
		keyProperty="id">
		insert into work_condition (attend_status_id,
		work_condition_status_id, emp_id, start_time, work_date) values
		(#{attend_status_id},#{status}, #{id}, convert_tz(now(),'+00:00',
		'+09:00'), curdate());
	</insert>

	<!-- 업무 상태 종료시간 업데이터 -->
	<update id="updateWorkCondtionEndTime">
		update work_condition set end_time =
		convert_tz(now(),'+00:00', '+09:00') where attend_status_id =
		#{attend_status_id};
	</update>

	<!-- 입력한 업무 상태 확인 -->
	<select id="selectWorkCondition"
		resultType="com.clovers.dto.WorkConditionDTO">
		select *
		from work_condition
		where id=#{id};
	</select>

	<!-- 업무 상태 리스트 불러오기 -->
	<select id="selectWorkConditionsList"
		resultType="com.clovers.dto.WorkConditionDTO">
		select *
		from work_condition
		where date(work_date) =
		curdate() and emp_id=#{id};
	</select>

	<!-- // 휴가 사유 구분 불러오기 -->
	<select id="selectRestReasonType" resultType="String">
		select * from
		rest_reason_type
	</select>

	<!-- // 해당 년도 휴가 총 개수 불러오기 -->
	<select id="selectYearTotalAnnaul" resultType="map">
		select emp_id,
		sum(rest_cnt) as total_rest_cnt from annaul_rest where emp_id = #{id}
		and year(reg_date)=#{year} group by emp_id;
	</select>

	<!-- // 해당 년도 휴가 생성 상세 정보 불러오기 -->
	<select id="selectYearDetailAnnaul"
		resultType="com.clovers.dto.AnnaulRestDTO">
		select * from annaul_rest where emp_id = #{id} and
		year(reg_date)=#{year};
	</select>

	<!-- // 해당 년도 휴가 사용 개수 불러오기 -->
	<select id="selectUsedAnnaul" resultType="Integer">
		select count(*) as
		count from annual_use_memory where emp_id like #{id} and
		year(annual_date)=#{year} group by emp_id;
	</select>

	<!-- // 사용자의 휴가 신청 상세 내역 확인하기 -->
	<select id="selectAnnaulAppDetails" resultType="map">
		select * from
		vacation_application_details where emp_id=#{id} order by id desc;
	</select>

	<!-- // 사용자의 최근 1년치 신청 상세 내역 확인하기 -->
	<select id="selectAnnaulAppDetailsForYear" resultType="map">
		select *
		from vacation_application_details
		where report_date >= curdate() -
		interval 365 day and emp_id=#{id}
		order by id desc;
	</select>

	<!-- // 사용자의 최근 1달치 신청 상세 내역 확인하기 -->
	<select id="selectAnnaulAppDetailsForMonth" resultType="map">
		select *
		from vacation_application_details
		where report_date >= curdate() -
		interval 30 day and emp_id=#{id}
		order by id desc;
	</select>
	
	<!-- // 사용자의 최근 1주일치 신청 상세 내역 확인하기 -->
	<select id="selectAnnaulAppDetailsForWeek" resultType="map">
		select *
		from vacation_application_details
		where report_date >= curdate() -
		interval 7 day and emp_id=#{id}
		order by id desc;
	</select>

	<!-- 임직원 정보 전부 불러오기 -->
	<select id="employeeSelectAll" resultMap="employeeList">
		select * from
		employee_view
	</select>
</mapper>