<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HumanResources">
	<!-- 인사 매퍼 -->
	
<!-- 	<select id="selectByIdGetName" resultType="String"> -->
<!-- 		select name from employee where id = #{id} -->
<!-- 	</select> -->
	
	<select id="selectById" resultType="com.clovers.dto.MemberDTO">
		select * from mypageData where id = #{id};
	</select>
	
	<select id="getPw" resultType="String">
		select pw from employee where id = #{id};
	</select>
	
	<update id="update">
		update employee set profile_img=#{profile_img},company_phone=#{company_phone},phone=#{phone},email=#{email} where id=#{id}
	</update>

	<!-- 사용자 근무 규칙 맵 -->
	<resultMap type="HashMap" id="userWorkRule">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="attend_time" property="attend_time" />
		<result column="leave_time" property="leave_time" />
	</resultMap>
	
	<!-- // 사용자 근무 규칙 정보 불러오기 -->
	<select id="selectEmployeeWorkRule" resultMap="userWorkRule">
		select * from employee_work_rule where id = #{id};
	</select>

</mapper>