<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mail">
	<!-- 메일 매퍼 -->
	
	<insert id="submitSend" useGeneratedKeys="true" keyProperty="id">
		insert into email value(0, #{send_id}, 'test', #{title}, #{content}, default, default, null, default)
	</insert>
	
	<insert id="submitFile">
		insert into email_file value(0, #{email_id}, #{ori_name}, #{sys_name})
	</insert>
	
	<select id="inBoxList" resultType="com.clovers.dto.EmailDTO">
		select * from email where receive_id = #{receive_id} and trash = false order by id desc
	</select>
	
	<select id="selectFileByEmailId" resultType="boolean">
		select email_id from email_file group by email_id having email_id = ${email_id}
	</select>
	
	<update id="deleteMail">
		update email set trash = true where id = ${id}
	</update>
	
	<delete id="perDeleteMail">
		delete from email where id = ${id}
	</delete>
	
	<select id="trashList" resultType="com.clovers.dto.EmailDTO">
		select * from email where send_id = #{id} and trash = true union select * from email where receive_id = #{id} and trash = true;
	</select>
	
	<update id="restoreMail">
		update email set trash = false where id = ${id}
	</update>
	
	<select id="sentBoxList" resultType="com.clovers.dto.EmailDTO">
		select * from email where send_id = #{send_id} and trash = false order by id desc
	</select>
</mapper>