<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="login" resultType="Boolean">
		select count(*) from employee where id = #{id} and pw = #{pw}
	</select>

	<update id="updatePW">
		update employee set pw = #{pw} where id = #{id}
	</update>

	<!-- 로그인된 사용자 이름, 이메일 맵 -->
	<resultMap type="java.util.HashMap" id="userList">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="company_email" property="company_email" />
	</resultMap>

	<!-- 로그인된 사용자 이름, 이메일 불러오기 -->
	<select id="selectUserInfo" resultMap="userList">
		select id, name, company_email, profile_img from employee where id = #{loginID};
	</select>

	<select id="selectNameById" resultType="String">
		select name from employee where id = #{id};
	</select>

	
	<!-- 관리자 접근 권한 가져오기 -->
	<select id="getAuthorityCategory" resultType="String">
		select authority_category_id from admin where emp_id = #{id}
	</select>
	
	<!-- // 모든 사용자의 id랑 입사일 불러오기 -->
	<select id="selectUserList" resultType="com.clovers.dto.MemberDTO">
		select id, hire_date from employee;
	</select>
	
	<!-- // 사용자의 연차 기록이 있는지 불러오기 -->
	<select id="selectAnnaulRestById" resultType="com.clovers.dto.AnnaulRestDTO">
		select * from annaul_rest where emp_id = #{id} and rest_type_id="연차"
	</select>
	
	<!-- // 사용자 연차 기록 업데이트 -->
	<update id="updateAutomaticAnnualRest">
		update annaul_rest set rest_cnt = ${rest_cnt}, reg_date = convert_tz(now(),'+00:00', '+09:00') where emp_id = #{emp_id}
	</update>
	
	<!-- // 사용자의 연차 자동 등록 -->
	<insert id="insertAutomaticAnnaulRest">
		insert into annaul_rest (emp_id, rest_type_id, rest_cnt, reg_date) value (#{emp_id}, #{rest_type_id}, #{rest_cnt}, convert_tz(now(),'+00:00', '+09:00'))
	</insert>
</mapper>

