<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Office">	
	<!-- // 부서 명 불러오기 -->
	<select id="selectDeptTaskAll" resultType="com.clovers.dto.DeptTaskDTO">
		select * from dept_task;
	</select>
	
	<!-- // 직급 명 불러오기 -->
	<select id="selectPositionAll" resultType="com.clovers.dto.JobDTO">
		select * from job;
	</select>
	
	<!-- // 사용자 수 불러오기 -->
	<select id="selectEmpCount" resultType="int">
		select count(*) from employee;
	</select>
	
	<!-- 사용자 리스트 맵 -->
	<resultMap type="HashMap" id="userList">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="job_name" property="job_name"/>
		<result column="task_name" property="task_name"/>
	</resultMap>
	
	<!-- 사용자 리스트 불러오기 -->
	<select id="selectUserList" resultMap="userList">
		select e.name, e.id, j.job_name, d.task_name from employee e join job j on e.job_id=j.id join dept_task d on e.dept_task_id=d.id;
	</select>
	
	<!-- // 사용자 등록하기 -->
	<insert id="insertUser">
		insert into employee values (#{id},#{name}, #{pw}, #{birth}, #{email}, #{phone}, #{hire_date}, null, true, #{job_id}, #{dept_task_id},"재직", #{profile_img}, "정상1");
	</insert>
	
	<!-- // 사용자 삭제하기 -->
	<delete id="deleteUser" parameterType="List">
		delete from employee where id in
		<foreach collection="list" item="item" separator="," open="(" close=")">
	    	#{item}
	    </foreach>
	</delete>
</mapper>