<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Schedule">

	<resultMap type="HashMap" id="scheduleInfo">
		<result property="id" column="id"/>
		<result property="emp_id" column="emp_id"/>
		<result property="calendar_id" column="calendar_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="start_date" column="start_date"/>
		<result property="end_date" column="end_date"/>
		<result property="all_day" column="all_day"/>
		<result property="reg_date" column="reg_date"/>
		<result property="recurring_id" column="recurring_id"/>
		<result property="during" column="during"/>
		<result property="frequency_whenOption" column="frequency_whenOption"/>
		<result property="endKey" column="endKey"/>
		<result property="endValue" column="endValue"/>
		<result property="intervalCnt" column="intervalCnt"/>
		<result property="startTime" column="startTime"/>
		<result property="endTime" column="endTime"/>
		<result property="selectWeeks" column="selectWeeks"/>
		<result property="name" column="name"/>
		<result property="calendar_name" column="calendar_name"/>
		<result property="color" column="color"/>
	</resultMap>
	
	<resultMap type="HashMap" id="calendarInfo">
		<result property="id" column="id"/>
		<result property="emp_id" column="emp_id"/>
		<result property="color" column="color"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into schedule values(null, #{emp_id}, #{calendar_id}, #{title}, #{content}, #{start_date}, #{end_date}, #{all_day}, #{reg_date}, #{recurring_id});
	</insert>
	<delete id="delete">
		delete from schedule where id=#{id};
	</delete>
	
	<insert id="insertReccuring" useGeneratedKeys="true" keyProperty="id">
		insert into schedule_recurring values(null, #{during}, #{frequency_whenOption}, #{endKey}, #{endValue}, #{intervalCnt}, #{startTime}, #{endTime}, #{selectWeeks});
	</insert>
	
	<select id="selectAll" resultMap="scheduleInfo">
		select * from scheduleAll;
	</select>
	
	<select id="selectById" resultMap="scheduleInfo">
		select * from scheduleAll where id=#{id};
	</select>
	
	<select id="selectRecurringIdById" resultMap="scheduleInfo">
		select recurring_id from schedule where id=#{id};
	</select>
	
	<select id="calendarByEmpId" resultMap="calendarInfo">
		select * from calendarAll where emp_id=#{emp_id};
	</select>
	
	<update id="scheduleUpdate">
		update schedule set calendar_id = #{calendar_id}, title=#{title}, content=#{content}, start_date=#{start_date}, end_date=#{end_date}, all_day=#{all_day} where id = #{id};
	</update>
	
		
	<update id="recurringScheduleUpdate">
		update schedule_recurring set during = #{during}, frequency_whenOption=#{frequency_whenOption}, endKey=#{endKey}, endValue=#{endValue}, intervalCnt=#{intervalCnt}, startTime=#{startTime}, endTime=#{endTime}, selectWeeks=#{selectWeeks}  where id = #{id};
	</update>
	
	<delete id="deleteReccuring">
		delete from schedule_recurring where id=#{id};
	</delete>
</mapper>