@charset "UTF-8";

.approvalLineModal {
	width: 820px;
	max-width: 820px !important;
	padding: 25px;
	border-radius: 4px;
	background-color: white;
	display: none;
	z-index: 999;
}

.approvalLineModal__title {
	font-weight: 500;
	font-size: 18px;
	padding: 20px;
	border-bottom: 1px solid #7d7d7d40;
}

.approvalLineModal__body {
	display: flex;
	/* margin: 20px 0 30px 0; */
	margin-bottom: 30px;
}

.search {
	display: flex;
	align-items: center;
	width: 470px;
	border: 1px solid #7d7d7d40;
	border-radius: 4px;
	margin: 20px 0 15px 0;
}

.search__prefix {
	margin: 0 10px;
}

.search__prefix * {
	color: #b5b5bb;
}

.search>input {
	border: none;
	outline: none;
	width: 90%;
	padding: 7px 10px 7px 0;
}

.approvalLineModal__groupBox {
	display: flex;
	/* margin-top: 15px;/ */
}

.department,
.employee {
	width: 230px;
	height: 480px;
}

.employee {
	border: 1px solid #7d7d7d40;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.department__title {
	background-color: #f3f7f1;
	padding: 5px 10px;
	border: 1px solid #7d7d7d40;
}

.department__body {
	padding: 10px;
	border: 1px solid #7d7d7d40;
	border-top: none;
	font-size: 14px;
	height: calc(100% - 36px);
}

.deptBox {
	padding-left: 25px;
	margin-top: 7px;
}

.dept_task {
	padding-left: 16px;
	margin-top: 7px;
}

.deptBox span {
	color: black;
}

.selected span {
	color: #75b47d;
}

.employee__List {
	padding: 10px;
	overflow: auto;
}

.employee__List::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.employee__List::-webkit-scrollbar-thumb {
	background-color: #7d7d7d60;
	border-radius: 10px;
	border: 7px solid transparent;
	/* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}

.employee__List::-webkit-scrollbar-track {
	background-color: transparent;
	/* 스크롤바 뒷 배경을 투명 처리한다 */
}

.employee__check {
	font-size: 14px;
}

.employee__check:not(:first-child) {
	margin-top: 7px;
}

.employee__bottom {
	display: flex;
	border-top: 1px solid #7d7d7d40;
	padding: 7px 0;
	background-color: #7d7d7d10;
}

.employee__check>.empChk {
	margin-right: 5px;
}

.allCheck {
	border-right: 1px solid #7d7d7d40;
	padding: 0 10px;
	color: #75b47d;
}

.allNonCheck {
	padding: 0 10px;
	color: #75b47d;
}

.approvalLineModal__bodyLine:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 0 20px;
}

.approvalLineModal__bodyLine:nth-child(2)>.updateBtns {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.updateBtns__cancle {
	margin-top: 5px;
}

.updateBtns__add>button,
.updateBtns__cancle>button {
	background-color: #f3f7f1;
	border: 1px solid #7d7d7d40;
	padding: 5px 10px;
}

.updateBtns__add>.disabled,
.updateBtns__cancle>.disabled {
	background-color: #7d7d7d20;
}

.updateBtns__Add>button>i,
.updateBtns__cancle>button>i {
	color: #6c6c72;
}

.approvalLineModal__bodyLine:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.approvalLine {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.approvalLine__title {
	font-size: 14px;
	margin-bottom: 5px;
}

.approvalLine__title>span {
	color: #75b47d;
	margin-left: 10px;
}

.approvalLine__applyEmployee,
.approvalLine__processEmployee {
	width: 230px;
	height: 125px;
	border: 1px solid #7d7d7d40;
	overflow: auto;
}

.approvalLine__processEmployee::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.approvalLine__processEmployee::-webkit-scrollbar-thumb {
	background-color: #7d7d7d60;
	border-radius: 10px;
	border: 7px solid transparent;
	/* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}

.approvalLine__processEmployee::-webkit-scrollbar-track {
	background-color: transparent;
	/* 스크롤바 뒷 배경을 투명 처리한다 */
}

.userInfo {
	padding: 5px 10px;
	font-size: 14px;
}

.approvalLineModal__bottom {
	text-align: center;
}

.cancleBtn {
	padding: 5px 20px;
	background-color: #7d7d7d20;
	border: 1px solid #7d7d7d40;
	border-radius: 4px;
	cursor: pointer;
}

.saveBnt {
	padding: 5px 20px;
	background-color: #75b47d;
	border: 1px solid #7d7d7d40;
	border-radius: 4px;
	cursor: pointer;
	color: white;
	margin-left: 10px;
}

.saveBnt.disabled {
	background-color: #BBBE8F;
}

.company,
.deptBox,
.dept_task,
.employee__check>input,
.employee__check>label,
button,
.allCheck,
.allNonCheck,
.userInfo {
	cursor: pointer;
}