@charset "UTF-8";
.container {
  display: flex;
}
.humanResourcesMain {
  width: calc(100% - 250px);
  height: calc(100vh - 60px);
  padding: 20px 24px;
  overflow: auto;
}
.humanResourcesMain::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.humanResourcesMain::-webkit-scrollbar-thumb {
  background-color: #7d7d7d60;
  border-radius: 10px;
  border: 7px solid transparent; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.humanResourcesMain::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 뒷 배경을 투명 처리한다 */
}

.yearWorkInfo {
  margin-bottom: 70px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}
.confBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.yearWorkInfo__conf,
.toDayWorkInfo__conf {
  min-width: 365px;
}
.conf__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.conf__title i {
  color: #6c6c72;
  margin-right: 5px;
}
.conf_detail {
  border: 1px solid #7d7d7d40;
  border-radius: 4px;
  padding: 25px 0px;
  min-height: 146px;
}
.attendance > .conf_detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.attendance > .conf_detail > div {
  text-align: center;
  padding: 10px 0;
}

.detail__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.detail__colortitle * {
  color: #75b47d;
  padding: 0 15px;
}
.detail_conf {
  font-size: 14px;
}

.vacation > .conf_detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
}
.vacation > .conf_detail > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vacation > .conf_detail > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.whiteBtn {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #7d7d7d40;
  border-radius: 4px;
  cursor: pointer;
}
.whiteBtn:disabled {
    background-color: #7d7d7d20;
    border: none;
    color: #6C6C72;
    cursor: auto;
}

.officeHour > .conf_detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.officeHour > .conf_detail > div {
  text-align: center;
  padding: 10px 0;
}

.toDayWorkInfo .conf_detail {
  height: 356px;
}

.toDayWorkInfo .conf_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.workStatus > .conf_detail{
	padding: 0;
}
.workStatus .commuteTable{
	margin: 25px 0;
    padding: 0 25px;
	overflow: auto;
}

.workStatus .commuteTable::-webkit-scrollbar {
  width: 7px;
  margin: 25px 0;
}
.workStatus .commuteTable::-webkit-scrollbar-thumb {
  background-color: #7d7d7d60;
  border-radius: 10px;
  border: 7px solid transparent; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.workStatus .commuteTable::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 뒷 배경을 투명 처리한다 */
}

.workStatus .shiftEditBtn{
	padding: 0 25px 25px 25px
}

.calendar {
  display: flex;
  justify-content: center;
}
.calendar > .month {
  background-color: #75b47d;
  width: 108px;
  height: 108px;
  border-radius: 4px;
  position: relative;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 25px;
}
.calendar > .month > .day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 74px;
  top: 25px;
  left: 4px;
  background-color: white;
}
.day > .day__num,
.day__week {
  color: #75b47d;
}
.day > .day__num {
  font-size: 32px;
  margin-bottom: 5px;
}
.day > .day__week {
  font-size: 12px;
}

.workingTime {
  text-align: center;
  font-size: 14px;
}
.workingTime div:first-child {
  margin-bottom: 10px;
}

.workingPlan {
  text-align: center;
}
.workingPlan > .detail__colortitle {
  margin-bottom: 20px;
}
.workingPlan >.detail_conf>button:last-child{
	margin-left: 10px;
}

.nowTime {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statusBox {
  padding: 5px 10px;
  background-color: #F3F7F1;
  color: #75B47D;
  font-size: 15px;
  border: none;
  border-radius: 4px;
}
.nowTime > .statusBox {
  margin-left: 30px;
}
.commuteBtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.commuteBtns > .commuteBtns__title{
	cursor: pointer;
}
.commuteBtns > .commuteBtns__title:first-child {
  border-right: 1px solid #7d7d7d40;
}
.commuteBtns__time {
  color: #b5b5bb;
  font-size: 12px;
  margin-top: 5px;
}
.workingStatusBtns div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.workingStatusBtns div:first-child {
  margin-bottom: 10px;
}
.workingStatusBtns div > button:first-child {
  margin-right: 20px;
}



.commuteTable__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
}
.commuteTable__row:not(:last-child) {
  margin-bottom: 15px;
}
.commute__left {
  display: flex;
  align-items: center;
}
.commute__circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #6c6c7290;
  margin-right: 20px;
  position: relative;
}
.commuteTable__row:not(:last-child) .commute__circle:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  width: 1px;
  height: 38px;
  background: #6c6c72;
}
.commute__time {
  color: #6c6c72;
  margin-right: 20px;
}
.commute__right > div {
  border-radius: 4px;
  background-color: #75b47d;
  color: white;
  padding: 4px 8px;
}
.shiftEditBtn {
  display: flex;
  justify-content: end;
}
