@charset "UTF-8";
.naviBar {
  background-color: #f3f7f1;
  width: 250px;
  height: calc(100vh - 60px);
}
.naviBar__applyBtns,
.naviBar__personalAddress,
.naviBar__sharedAddress {
  padding: 20px;
}
.naviBar__applyBtns,
.naviBar__regularEmployeeMenu {
  border-bottom: 1px solid #7d7d7d40;
}

.naviBar__applyBtns button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: #75b47d;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}
.naviBar__applyBtns button > i {
  color: white;
  margin-right: 5px;
}

/* 메뉴바 박스에만 스크롤 */
.naviScrollBox {
  height: calc(100% - 138px);
  overflow-y: scroll;
}

.naviScrollBox::-webkit-scrollbar {
  width: 7px;
}
.naviScrollBox::-webkit-scrollbar-thumb {
  background-color: #7d7d7d20;
  border-radius: 10px;
  border: 7px solid transparent; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.naviScrollBox::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 뒷 배경을 투명 처리한다 */
}

.naviConp {
  display: flex;
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 5px;
}
.naviConp:hover {
  background-color: #dcedd4 !important;
}

.naviConp__icon {
  margin-right: 10px;
}
.toggleInner{
  padding-left: 45px;
}

.naviConp__titleMini{
	font-size: 16px;	
}



.activeMenu{
	background-color: #DCEDD4;
}