@charset "UTF-8";

.calenderBody {
	/*max-width: 1200px;
	margin: 20px auto;
	height: 600px;
	width: 100%;*/
	width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    overflow: auto;
    margin: 20px;
}

#calendar{
	min-width: 1000px;
}
.fc {
	height: 100%;
}

.fc .fc-daygrid-day-top {
	flex-direction: column;
}

.fc .fc-today-button {
	margin-top: 3px;
}

.koHolidays * {
	color: red !important;
	font-weight: 500;
	cursor: default;
}

.fc-toolbar-chunk {
	display: flex;
}

.fc .fc-button-primary:disabled {
	background-color: #75B47D;
	border: 0;
}

.fc .fc-button-primary:disabled:hover {
	background-color: #75B47D;
	opacity: 0.65;
	border: 0;
}

.fc .fc-button-primary {
	background-color: #75B47D;
	border: 0;
}

.fc .fc-button-primary:hover {
	background-color: #20412E;
	opacity: 1.0;
	border: 0;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
	background-color: #20412E;
	border: 0;
}

.fc .fc-button-primary:focus {
	box-shadow: none !important;
}

.modal {
	max-width: 900px;
}

.fc .fc-next-button,
.fc .fc-prev-button {
	background-color: transparent;
	border: 0;
	color: #6C6C72;
}

.fc .fc-next-button:hover,
.fc .fc-prev-button:hover {
	background-color: transparent;
	color: #6C6C7250;
}

.fc .fc-next-button:active,
.fc .fc-prev-button:active {
	background-color: transparent !important;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: #75B47D30;
}

.fc .fc-highlight {
	background-color: #75B47D15;
}

.fc-day-today .fc-timegrid-now-indicator-container {
	background-color: #75B47D10;
}

.fc-day-today{
	background-color: #75B47D20 !important;
}


.fc-col-header .fc-col-header-cell {
	background-color: #7d7d7d20;
	;
}

.fc-day-sat .fc-col-header-cell-cushion,
.fc-day-sat .fc-daygrid-day-number {
	color: #3E78E7 !important;
}

.fc-day-sun .fc-col-header-cell-cushion,
.fc-day-sun .fc-daygrid-day-number {
	color: #FF3C3C !important;
}

tr[role="presentation"] {
	/* 모달창 위로 태그 내용들이 올라오는 것 방지 */
	position: sticky;
}

.fc-icon {
	color: #6C6C72;
}

.fc-toolbar-title {
	font-size: 25px !important;
	font-weight: 500;
	display: flex;
	align-items: center;
	color: #323B3D;
}




.calenderBody::-webkit-scrollbar {
	width:7px;
	height: 7px;
}

.calenderBody::-webkit-scrollbar-thumb {
	background-color: #7d7d7d50;
	border-radius: 10px;
}

.calenderBody::-webkit-scrollbar-track {
	background-color: transparent;
}



#searchTag{
	position:absolute;
	right: 120px;
	top:15px;
	background-color: #FFFFFF;
	border-radius: 4px;
}

.header__searchBar {
	border: 1px solid #7d7d7d40;
	border-radius: 4px;
	height: 30px;
	width: 200px;
}

.searchBar__icon {
	height: 100%;

}

.searchBar__icon>i {
	height: 100%;
	padding: 7px 10px;
	color: #6C6C72;
}

.searchBar__inputCover {
	align-items: center;
	height: 100%;
	width: 100%;
}

.searchBar__input {
	border-radius: 4px;
	border: 0;
	height: 100%;
	width: 100%;
	outline: none;
}
