@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Main.css */

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
}



.container {
	padding-bottom: 50px;
	height: calc(100vh - 60px);
	overflow-y: auto;
	overflow-x: auto;
}

.container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #7d7d7d60;
  border-radius: 10px;
  border: 7px solid transparent; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.container::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 뒷 배경을 투명 처리한다 */
}


/* MainNavi.css */

.mainNavi {
	width: 100%;
	background-color: #E8F3E3;
	min-width: 1104px;
}

.mainNavi__naviItems {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 30px;
	width: 1104px;
}

.naviItems__naviItem {
	width: 72px;
	height: 100px;
}

.naviItem__itemCurcle {
	display: flex;
	width: 100%;
	height: 72px;
	background-color: #F3F7F1;
	border-radius: 50%;
}

.naviItem__itemCurcle:hover {
	cursor: pointer;
}

.itemCurcle__Icon {
	margin: auto;
	font-size: 28px;
	color: #B5B5BB;
}

.naviItem__title {
	margin-top: 7px;
	text-align: center;
	font-size: 14px;
}


#officeController {
	display: none;
}

#accountingController {
	display: none;
}


/* MainContents */

.mainContents {
	display: flex;
	margin: auto;
	width: 1104px;
}

.mainContents__left {
	width: 330px;
}

.mainContents__right {
	width: 740px;
	margin-left: 30px;
}

.mainContents__title {
	padding-top: 26px;
	font-weight: 600;
}

.mainContents__contentBox {
	width: 100%;
	margin-top: 10px;
	padding: 20px 30px;
	border: 1px solid #7d7d7d20;
	border-radius: 4px;
}

.mainContents__line {
	border-left: thin solid #B5B5BB;
	height: 100%;
}

.contentBox__btns {
	margin-top: 15px;
	width: 100%;
	height: 82px;
}

.contentBox__btns button {
	width: 125px;
	height: 36px;
	background-color: #ffffff;
	border: 1px solid #7d7d7d20;
	border-radius: 4px;
	cursor: pointer;
}
.contentBox__btns button:disabled {
    background-color: #7d7d7d20;
    border: none;
    color: #6C6C72;
    cursor: auto;
}
.btns__line {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}



/* WorkCheck */

.contentBox__date {
	font-size: 14px;
	color: #6C6C72;
}

.contentBox__timeline {
	display: flex;
	align-items: center;
	height: 35px;
}

.timeline__time {
	font-size: 26px;
}

.timeline__status {
	/*margin-left: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 60px;
	    border-radius: 5px;
	    background-color: #DCEDD4;
	    color: #75b47d;*/
	padding: 5px 10px;
	background-color: #F3F7F1;
	color: #75B47D;
	font-size: 15px;
	border: none;
	border-radius: 4px;
	margin-left: 30px;
}

.contentBox__commute {
	display: flex;
	margin-top: 30px;
	height: 43px;
}

.contentBox__commute>div {
	text-align: center;
}

.commute__work {
	width: 130px;
	cursor: pointer;
}

.work__text {
	font-size: 16px;
}

.work__time {
	font-size: 12px;
	color: #B5B5BB;
}


/* Approval.css */



/* Mail */

.contentBox__mailTitle {
	margin-bottom: 8px;
	font-size: 14px;
}

.mail hr {
	margin: 12px 0px;
}


/* Schedule */


/*.contentBox__calendar {
    height: 365px;
}

.schedule hr {
    margin: 30px 0px;
}

.scheduleList__scheduleItem {
    display: flex;
    border: 1px solid #7d7d7d20;
    border-radius: 4px;
    height: 70px;
    padding: 15px 10px;
    color: #6C6C72;
}

.scheduleItem__date {
    width: 74px;
    text-align: center;
}

.date__dayNum {
    font-size: 14px;
}

.date__dayText {
    margin-top: 2px;
    font-size: 12px;
}

.scheduleItem__plan {
    margin-left: 30px;
}

.plan__title {
    font-size: 14px;
    color: #000000;
}

.plan__time {
    font-size: 12px;
}
*/