@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;800;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

.naviBar {
  background-color: #f3f7f1;
  width: 250px;
  height: calc(100vh - 60px);
}

.naviBtnBox {
	padding: 20px;
}

.naviBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 46px;
	padding: 10px 15px;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: #75B47D;
}

.naviBtn > *{
	color: #FFFFFF;
}

.naviBtn:hover {
	cursor: pointer;
}

.naviBtn__icon {
	display: flex !important;
	margin-right: 5px;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 25px;
	font-size: 20px;
}

.naviBtn__text {
	font-size: 18px;
}

/* 메뉴바 박스에만 스크롤 */
.naviScrollBox {
  height: calc(100% - 80px);
  overflow-y: scroll;
  padding: 0px 20px 20px;
}

.naviScrollBox::-webkit-scrollbar {
  width: 7px;
}
.naviScrollBox::-webkit-scrollbar-thumb {
  background-color: #7d7d7d20;
  border-radius: 10px;
  border: 7px solid transparent; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
.naviScrollBox::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 뒷 배경을 투명 처리한다 */
}

.naviConp {
  display: flex;
  margin-top: 5px;
  padding: 10px 15px;
  font-size: 18px;
  box-sizing: border-box;
}

.innerNavi > .naviConp {
	padding: 10px 15px 10px 45px;
}

.naviConp:hover {
	cursor: pointer;
	background-color: #DCEDD4;
}

.naviConp__icon {
  margin-right: 10px;
}
