@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;800;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  background-color: #f3f7f1;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.headerLeft__logo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #095544;
  cursor: pointer;
}

.headerLeft__dropNav {
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

.headerLeft__dropNav:hover {
  background-color: #dcedd4;
}

.dropNav__icon {
  margin-left: 5px;
}

.dropNav__icon:hover {
	cursor: pointer;
}

.headerRight * {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  font-size: 25px;
  color: #b5b5bb;
}

.headerRight div:not(:first-child) {
  margin-left: 18px;
}

#goChat {
	cursor: pointer;
}

.profileImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}


/* 민경 css */
.header__userinfoBox{
	display: none;
	border: 1px solid #7d7d7d40;
	position: absolute;
	right: 24px;
  	top: 50px;
	width: 360px;
	border-radius: 5px;
	box-shadow: 3px 3px #7D7D7D40;
	background-color: white;
	z-index: 999;
}
.header__userinfo{
	padding: 20px;
}
.header__myinfo{
	display: flex;
}
.header__profileImageBox,.header__profileImage{
	width: 75px;
}
.profileName{
	margin: 10px 0;
	font-weight:600;
	font-size: 17px;
}
.profileEmail{
	font-size: 14px;
}
.header__profileInfoBox{
	margin-left: 20px;
}
.header__myinfoBottom{
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}
.header__setting{
	font-size: 14px;
	display: flex;
    align-items: center;
}
.header__setting>a{
	text-decoration: none;
	color: #20412E;
}
.header__logoutBtnBox{
	text-align: right;
}
.header__logoutBtnBox>button{
	/*
	width: 90px; height: 30px;
	font-size: 14px;
	background-color: #7D7D7D40;
	border: none; border-radius: 5px;
	*/
	padding: 5px 20px;
    background-color: #7d7d7d20;
    border: 1px solid #7d7d7d40;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}
.header__logoutBtnBox>button>a{
	text-decoration: none;
	color: black;
}
/* toggle */
.show{
	display: inline;
}
.hide{
	display: none;
}


