@charset "UTF-8";

body {
	width: 100%;
	height: 100%;
}

.header {
	height: 60px;
	background-color: #F3F7F1;
}

.header__text {
	height: 100%;
	margin-left: 25px;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 900;
}


.myInfo {
	height: 55px;
	align-items: center;
	margin: 10px 0 10px 10px;
}

.profileImg__cover {
	position: relative;
	width: 55px;
	height: 55px;
}



.profileImg__img {
	width: 100%;
	height: 100%;
}

.profileImg__state {
	width: 15px;
	height: 15px;
	border-radius: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.myInfo__infoTxt {
	margin-left: 17px;
	font-size: 12px;
	height: 100%;
	font-weight: 500;
	align-items: end;
}

.chat-nav {
	height: 65px;
}

.chat-nav>a {
	width: 100%;
	height: 100%;
}

.chat-nav>a>div {
	width: 100%;
	height: 100%;
}

.chat-nav>a>div>i {
	font-size: 30px;
	color: #FFFFFF50;
}

.chat-nav>a>div>i.nav-selected {
	color: #FFFFFF;
}


.chat-search {
	height: 50px;
}

.chat-search__icon {
	height: 100%;
	width: 35px;
}

.chat-search__icon>i {
	font-size: 20px;
}

.chat-search__txt {
	height: 100%;
	border: 0;
	width: 335px;
}

.chat-search__txt:focus {
	outline: none;
}

.chat-search__cancel {
	font-size: 20px;
	height: 100%;
	width: 35px;
	display: none;
}

.chat-search__cancel>i {
	color: #6C6C72;
}




.chat-chatList {
	overflow-y: auto;
	height: 460px;
}

.chat-chatList::-webkit-scrollbar {
	width: 20px;

}

.chat-chatList::-webkit-scrollbar-thumb {
	background-color: #7d7d7d20;
	border-radius: 10px;

	border: 7px solid #FFFFFF
		/* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}

.chat-chatList::-webkit-scrollbar-track {
	background-color: #FFFFFF
		/* 스크롤바 뒷 배경을 투명 처리한다 */
}

.chat-chatList__chatRoom {
	padding: 10px;
	position: relative;
	transition-duration: 0.3s;
}

.chat-chatList__chatRoom:active {
	background-color: #DCEDD4;
}

.chatRoom__img {
	width: 55px;
	height: 55px;
}

.chatRoom__img>i {
	width: 100%;
	height: 100%;
	font-size: 30px;
	color: #FFFFFF;
	display: flex;
	border-radius: 50px;
	background-color: #B5B5BB;
	align-items: center;
	justify-content: center;
}

.chatRoom__txt {
	font-size: 12px;
	align-items: center;
	margin-left: 10px;
	width: 245px;
}

.chatRoom__chatName {
	max-width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.chatRoom__numOfPPL {
	max-width: 30%;
	background-color: #B5B5BB;
	border-radius: 10px;
	padding: 2px 8px;
	color: #095544;
	font-weight: bold;
	margin-left: 20px;
}

.chatRoom__numOfPPL>i {
	color: #FFFFFF;
}

.chatRoom__lastChat {
	margin-top: 5px;
	color: #6C6C72;

	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 25px;
}

.chatRoom__lastChatDate {
	color: #6C6C72;
	font-size: 12px;
	width: 60px;
	padding-top: 7px;
	display: flex;
	justify-content: end;
}

.chat__add__button {
    position: fixed; /* 고정 위치 */
    bottom: 20px;    /* 하단에서 20px 떨어진 위치 */
    right: 20px;     /* 우측에서 20px 떨어진 위치 */
    background-color: #75b47D; /* 초록색 배경 */
    color: white;    /* 흰색 텍스트 */
    border-radius: 50%; /* 원형 버튼 */
    width: 40px;     /* 너비 */
    height: 40px;    /* 높이 */
    display: flex;   /* Flexbox를 사용하여 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    font-size: 20px; /* 아이콘 크기 */
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* 그림자 효과 */
    transition-duration: 0.3s;
}

.chat__add__button:hover{
	background-color: #20412e;
}

.chat__plus{
	color: white;
}